.toolbar {
  display: flex;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

.gitlogo{
    position: relative;
    top: 6px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

img {
  height: 25px;
  width: 25px;
}
