<mat-toolbar class="toolbar mat-elevation-z8" color="primary">
  <div class="row w-100 d-none d-lg-flex justify-content-between">

    <div class="col-lg-3 d-flex justify-content-start">
      <button mat-button>
        <a href="https://github.com/Synneks/recruit-recruiters-web-crawler"> <img class="gitlogo" src="assets/github.png" /> Github</a>
      </button>
    </div>

    <div class="col-lg-3 d-flex justify-content-center">
      <button mat-button (click)="onHome()">
        <h3>Recruit-Recruiters</h3>
      </button>
    </div>

    <div class="col-lg-3 d-flex pr-0 justify-content-end">
      <button mat-flat-button *ngIf="!isLoggedIn" (click)="onLogin()">
        Login
      </button>
      <button mat-button *ngIf="isLoggedIn" (click)="onSavedOffers()">
        Saved Offers
      </button>
      <button mat-flat-button *ngIf="isLoggedIn" (click)="onLogout()">
        Logout
      </button>
    </div>
  </div>

  <div class="row w-100 d-lg-none justify-content-between">
    <div class="col-6 d-flex justify-content-start">
      <button mat-button routerLink="">
        <h3>Recruit-Recruiters</h3>
      </button>
    </div>

    <div class="col-6 d-flex justify-content-end" style="position: relative; left: 30px;">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-flat-button *ngIf="!isLoggedIn" (click)="onLogin()">
          <mat-icon>exit_to_app</mat-icon>
          Login
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="onSavedOffers()">
          <mat-icon>star</mat-icon>
          Saved Offers
        </button>
        <button mat-menu-item>
          <a href="">
            <mat-icon
              ><img class="gitlogo-dark" src="assets/github-dark.png"
            /></mat-icon>
            Github
          </a>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
