<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row align-content-center search-elements">
    <div class="col-6 columns">
      <mat-form-field class="full-width-field" appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput name="job-title" ngModel/>
      </mat-form-field>
    </div>
    <div class="col-4 columns">
      <mat-form-field class="full-width-field" appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput name="location" ngModel/>
      </mat-form-field>
    </div>
    <div class="col-2 columns search-button">
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
        Search
      </button>
    </div>
  </div>
</form>
